.container {
  width: 60%;
  margin: 50px auto;
}

.form_group {
  margin-bottom: 15px;
}

.form_control {
  width: 100%;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid rgba(37, 67, 53, 0.15);
  padding: 15px;
}

.button {
  border: 1px solid transparent;
  background: #ef3b7d;
  border-radius: 4px;
  color: #ffffff;
  padding: 15px;
}
